# AMANDA Oracle read replica DB (1pass: Amanda Read-Only (RO) replica database)
DB_PASS=<password>
DB_USER=<username>
HOST=<host>
PORT=<port>
SERVICE_NAME=<service>

# Socrata (1pass: Socrata Key ID, Secret, and Token)
FEED_DATASET=d9mm-cjw9
FLAT_DATASET=qyfh-gwei
SEGMENT_DATASET=9ywe-fgru
CRITICAL_DATASET=ngm3-3e84
SO_PASS=<apiKeySecret>
SO_TOKEN=<appToken>
SO_USER=<apiKeyId>
SO_WEB=datahub.austintexas.gov

# Source Socrata dataset only needed for street_segment_directionality.py
SOURCE_SEGMENT_DATASET=8hf2-pdmb

# Service desk email for the datafeed (1pass: Work Zone Data Feed)
CONTACT_EMAIL=<contact email>

# Coordinate (1pass: Work Zone Data Feed)
COORDINATE_BASE_URL=<coordinate base url>
COORDINATE_USER=<coordinate username>
COORDINATE_PASSWORD=<coordinate password>

# ArcGIS Online (1pass: ArcGIS Online (AGOL) Scripts Publisher)
AGOL_USERNAME=<username>
AGOL_PASSWORD=<password>
